//
// Add custom and general css as grids, typographies, mixins, etc (css vars on App.vue)

@import './reset';
@import './mixins';
@import './grid';
@import './typography';

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

.display {
  &--flex {
    display: flex;
  }
  &--inline-block {
    display: inline-block;
  }
}

.text-align {
  &--right {
    text-align: right;
  }
}

.border {
  &--none {
    border: none;
  }
}

:root {
  --v-intersect-duration: 500ms;
  --v-intersect-easing: cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Ease out quad */
}

.will-fade {
  opacity: 0;
  will-change: opacity;
  transition: var(--v-intersect-duration) opacity var(--v-intersect-easing);
}

.fade {
  opacity: 1;
}
