//
// Add custom and general css as grids, typographies, mixins, etc (css vars on App.vue)

@import './reset';
@import './grid';
@import './typography';
@import './intersect';

:root {
  --vh: 100vh;
  @supports (height: 1svh) {
    --vh: 100svh;
  }
  --css-transition: 200ms all ease-out;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

.display {
  &--flex {
    display: flex;
  }
  &--inline-block {
    display: inline-block;
  }
  @include from__tablet {
    color: red;
  }
}

.text-align {
  &--right {
    text-align: right;
  }
}

.border {
  &--none {
    border: none;
  }
}

.__main {
  &--loading {
    * {
      cursor: progress !important;
    }
  }
}
